*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'my font';
   transition:.5s;
   text-transform: capitalize;
}
@font-face {
    font-family:'my font';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'my font';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: bold;
}
:root{
    --mainbakeground:rgba(219, 68, 68, 1);
     --maincolor: rgba(219, 68, 68, 1);
     --background-color: rgba(245, 245, 245, 1);
     --gray-color: #b0b0b0;;
     --yelloColor:  #FFAD33;
}
@media  (min-width :1201px){
    .contanir{
        margin: 100%;
        /* margin: 30px 25% ; */
        }
}
.contanir{
    margin: 2% 4%;
    /* margin: 30px 8% 15px 5% ; */
}
/* Header */
.summerSale{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 13px;
}

.summerSale p{
    text-align: center;
    color: white;
}
.summerSale a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
ul{
    list-style: none;
}
 a{
    text-transform:capitalize ;
    text-decoration: none;
    color: black;
}
.nav-ul li {
    display: inline-block;
    padding-right: 32px;
}
ul li :hover{
    color: var(--maincolor);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lookingFor{
    display: flex;
    align-items: center;
     padding: 11px;
}
.lookIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.lookIcon a  :hover{
    color: var(--maincolor);
}
.user-icon:hover{
    color: var(--maincolor);
}
.user-icon :hover{
    width: 32px;
    height: 32px;
    border-radius: 47%;
    background-color: var(--mainbakeground);
    color: white;
    padding: 7.7px;
}
.dropdown-list{
    display: none;
}
.user-icon{
    position: relative;
}
.lookIcon  a  :hover{
    color: var(--maincolor);
}
.dropdown-list ul i{
    padding-right: 15px;
}
.user-icon:hover+.dropdown-list
{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    right: -1%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 14px;
    margin-right: 5%;
    line-height: 36px;
    padding: 24px 12px 12px 27px;
    color: white;
    border-radius: 4px;
    flex-direction: column;
    top: 24.6%;
    z-index: 2;
    position: absolute;
    width: 224px;
    height: 208px;
}
/* end header */
/* content */
.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;     
  }
  .row{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 30px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05); 
    background: #FFFFFF;
  }
  .img-text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.obsulte-icon{
    color: var(--mainbakeground);
    position: absolute;
    left: -6%;
    top: -26%;
}
.p1 form input{
    border: 1px black solid;
}
.price{
    padding-left: 75px;
}
.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8%;
}
.btn button{
    background-color: transparent;
    border: 1px black solid;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-weight: lighter;
}
.form-2{
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}
.btton{
    background: #DB4444;
    border-radius: 4px;
    padding: 16px 48px;
    color: white;
    cursor: pointer;
    border: none;
 } 
 .input-form2{
    border: 1.5px black solid;
    padding:12px 10px;
    font-size: 16px;
}
.part{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.part2{
    border: 1.5px black solid;
    border-radius: 4px;
    padding:20px 10px ;
    width: 400px;
    height:  300px;
    margin-bottom: 8%;
}
h4{
    font-weight: lighter;
    font-size: 20px;
}
.img-chk{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30%;
}
.part2-btn{
    margin-top: 20px;
    margin-left: 16%;
}
button:hover{
    background-color: var(--gray-color);
}
.btton a {
    color: white;
    font-size: 16px;
}
/* content */
/* START FOOTER */
.parfan-img{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 22px;
}
.left-side-under{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer{
    background-color: #000000;
    padding-top: 1%;
    padding-bottom: 1%;
}
.links{
    color: #FAFAFA;;
    line-height: 2.9;
}
.links a{
    color: #FAFAFA;;
}
form input{
    background-color: transparent;
    border: 2px solid #FAFAFA;;
    padding: 10px 7px 10px 10px;
    border-radius: 4px;
}
.letter{
    background-color: transparent;
    color: white;
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 3px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 24px;
}
.footer .Copyright{
    color: rgb(84, 81, 81);
    padding-top: 2%;
    text-align: center;
}
.links-save{
    color: rgb(139, 132, 132);
    font-size: 12px;
}
.links-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
/* END FOOTER */
